@import '../../../sass/variables';
@import '../../../sass/typography';

.skill {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-column-gap: 2.5rem;
}

.logo {
  border-radius: 3px;
  width: 8rem;
  height: 8rem;
  transfrom: translateY(-1rem);
}

.title {
  @include heading-4;
  align-self: center;
  text-align: left;
}

.description {
  grid-column: 2 / span 1;
  font-size: 1.6rem;
}
