@import '../../sass/variables';
@import '../../sass/typography';

.welcome {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-secondary-light, 0.8),
    rgba($color-secondary-dark, 0.8)
  );
  //url(../../img/welcome.jpg);
  background-size: cover;
  background-position: center;
  padding: 5rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
}

.textBox {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.headingPrimary {
  @include heading-primary;

  .headingName {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
  }

  .headingTitle {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.75rem;
  }
}

.buttonGroupBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));

  .buttonBox {
    width: 100%;
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
