@import '../../sass/variables';
@import '../../sass/typography';

%list {
  background-color: $color-grey-light-1;
  padding: 2rem 3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

  .categoryTitle {
    @include heading-3;
  }

  ul {
    list-style: none;
    width: 100%;
    margin: 0 auto;

    li {
      text-align: left;
      font-size: 1.5rem;
      padding: 1rem;

      span {
        display: block;
        @media only screen and (max-width: 56.25em) {
          font-size: 1.8rem;
        }

        @media only screen and (max-width: 32.8125em) {
          font-size: 2rem;
        }

        @media only screen and (max-width: 30em) {
          font-size: 2.3rem;
        }

        @media only screen and (max-width: 25.625em) {
          font-size: 2.4rem;
        }

        @media only screen and (max-width: 21.875em) {
          font-size: 2.7rem;
        }

        @media only screen and (max-width: 18.125em) {
          font-size: 2.7rem;
        }
      }

      &:not(:last-child) {
        border-bottom: 2px solid $color-grey-light-2;
      }
    }
  }
}

.about {
  min-height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary-light, 0.8),
      rgba($color-secondary-dark, 0.8)
    ),
    url(../../img/about.jpg);
  background-size: cover;
  background-position: center;
  padding: 5rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content min-content;
  grid-gap: 5rem;

  @media only screen and (max-width: 63.25em) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-column-gap: 0;
    grid-row-gap: 5rem;
  }

  .aboutBox {
    grid-column: 1 / -1;

    display: flex;
    justify-content: center;
    align-items: center;

    .aboutMe {
      max-width: 90rem;
      padding: 3rem;
      background-color: $color-grey-light-1;
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
      //transform: skewX(-12deg);

      display: grid;
      grid-template-columns: max-content 1fr;
      grid-template-rows: min-content min-content;
      grid-gap: 3rem;

      @media only screen and (max-width: 65.5em) {
        max-width: 100%;
      }

      @media only screen and (max-width: 56.25em) {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
        transform: skewX(0deg);
      }

      .avatar {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        align-self: center;
        justify-self: center;
        //transform: skewX(12deg);

        @media only screen and (max-width: 56.25em) {
          transform: skewX(0deg);
        }
      }

      .name {
        @include heading-3;
        align-self: flex-start;
        //transform: skewX(12deg);

        @media only screen and (max-width: 56.25em) {
          justify-self: center;
          transform: skewX(0deg);
        }
      }

      .intro {
        // grid-column: 2 / span 1;
        // grid-row: 1 / span 2;
        font-size: 1.6rem;
        //transform: skewX(12deg);

        transform: skewX(0deg);

        @media only screen and (min-width: 56.25em) {
          grid-column: 2 / span 1;
          grid-row: 1 / span 2;
          //transform: skewX(12deg);
          font-size: 1.8rem;
        }

        @media only screen and (max-width: 32.8125em) {
          font-size: 2rem;
        }

        @media only screen and (max-width: 30em) {
          font-size: 2.3rem;
        }

        @media only screen and (max-width: 25.625em) {
          font-size: 2.4rem;
        }

        @media only screen and (max-width: 21.875em) {
          font-size: 2.7rem;
        }

        @media only screen and (max-width: 18.125em) {
          font-size: 2.7rem;
        }

        // @media only screen and (max-width: 56.25em) {
        //   grid-column: 1 / span 1;
        //   grid-row: 3 / span 1;
        //   transform: skewX(0deg);
        // }
      }
    }
  }

  .education {
    @extend %list;
  }

  .workExperience {
    @extend %list;
  }
}
