@import './sass/variables';
@import './sass/utilities';
@import './sass/typography';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% --> ! 1rem = 10px
  scroll-behavior: smooth;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  @media only screen and (max-width: 56.25em) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: 32.8125em) {
    font-size: 50%;
    zoom: 0.8;
  }

  @media only screen and (max-width: 30em) {
    font-size: 43.75%;
  }

  @media only screen and (max-width: 25.625em) {
    font-size: 37.5%;
  }

  @media only screen and (max-width: 21.875em) {
    font-size: 31.25%;
  }

  @media only screen and (max-width: 18.125em) {
    font-size: 25%;
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-light-2;
  font-weight: 300;
  line-height: 1.6;
  background-color: $color-grey-light-1;
}
